*   @chingor13 @googleapis/cloud-sdk-platform-team-python @googleapis/cloud-sdk-platform-team

# assign templates to the language team that owns them
synthtool/gcp/templates/java_library/          @googleapis/cloud-sdk-java-team
synthtool/languages/java.py                    @googleapis/cloud-sdk-java-team
synthtool/gcp/templates/node_library/          @googleapis/jsteam
synthtool/gcp/templates/node_split_library/    @googleapis/jsteam
synthtool/gcp/templates/php_library/           @googleapis/cloud-sdk-platform-team-php
synthtool/gcp/templates/python_library/        @googleapis/cloud-sdk-platform-team-python
synthtool/gcp/templates/python_samples/        @googleapis/cloud-sdk-platform-team-python
synthtool/gcp/templates/ruby_library/          @googleapis/cloud-sdk-platform-team-ruby

# Also assign tests specific to language teams
synthtool/tests/test_language_java.py          @googleapis/cloud-sdk-java-team
synthtool/tests/test_python_library.py         @googleapis/cloud-sdk-platform-team-python
synthtool/tests/test_ruby.py                   @googleapis/cloud-sdk-platform-team-ruby

# Assign owlbot images to language teams
docker/owlbot/java                             @googleapis/cloud-sdk-java-team
docker/owlbot/nodejs                           @googleapis/jsteam
docker/owlbot/python                           @googleapis/cloud-sdk-platform-team-python
