*   @SurferJeffAtGoogle @chingor13 @bcoe @googleapis/yoshi-python @googleapis/github-automation

# assign templates to the language team that owns them
synthtool/gcp/templates/java_library/          @googleapis/yoshi-java
synthtool/gcp/templates/node_library/          @googleapis/yoshi-nodejs
synthtool/gcp/templates/node_split_library/    @googleapis/yoshi-nodejs
synthtool/gcp/templates/php_library/           @googleapis/yoshi-php
synthtool/gcp/templates/python_library/        @googleapis/yoshi-python
synthtool/gcp/templates/python_samples/        @googleapis/yoshi-python
synthtool/gcp/templates/ruby_library/          @googleapis/yoshi-ruby

# Also assign tests specific to language teams
synthtool/tests/test_language_java.py          @googleapis/yoshi-java
synthtool/tests/test_python_library.py         @googleapis/yoshi-python
synthtool/tests/test_ruby.py                   @googleapis/yoshi-ruby

# Assign owlbot images to language teams
docker/owlbot/java                             @googleapis/yoshi-java
docker/owlbot/nodejs                           @googleapis/yoshi-nodejs
docker/owlbot/python                           @googleapis/yoshi-python
