rebaseMergeAllowed: true
squashMergeAllowed: true
mergeCommitAllowed: false
branchProtectionRules:
- pattern: master
  requiredStatusCheckContexts:
    - 'Kokoro CI'
    - 'cla/google'
    - 'owlbot-nodejs-mono-repo-presubmit (repo-automation-bots)'
    - 'owlbot-nodejs-presubmit (repo-automation-bots)'
    - 'owlbot-php-presubmit (repo-automation-bots)'
  requiredApprovingReviewCount: 1
  requiresCodeOwnerReviews: true
  requiresStrictStatusChecks: true
permissionRules:
  - team: cloud-sdk-platform-team
    permission: push
  - team: yoshi-admins
    permission: admin
  - team: cloud-sdk-java-team
    permission: push
  - team: cloud-sdk-nodejs-team
    permission: push
  - team: cloud-sdk-php-team
    permission: push
  - team: cloud-sdk-python-team
    permission: push
  - team: cloud-sdk-ruby-team
    permission: push
