setuptools==53.1.0

nox
requests
pyyaml
jinja2
deprecation
protobuf==3.14.0
watchdog

# https://github.com/googleapis/gapic-generator/issues/3334
# temporarily install google-api-core for gapic-generator-python
# Bazel should install this, but there is currently a bug
# that causes the package to be skipped
google-api-core==1.26.0

# some java processing requires xml handling
lxml

# Install sample-tester for generated samples
sample-tester
