# Pin to less than 49.6.0 as a workaround for https://github.com/pypa/setuptools/issues/2353
setuptools==52.0.0

nox
requests
pyyaml
jinja2
deprecation
protobuf==3.14.0
watchdog

# some java processing requires xml handling
lxml

# Install sample-tester for generated samples
sample-tester
