# Format: //devtools/kokoro/config/proto/build.proto

build_file: "github/build-dir/.kokoro/build.sh"

container_properties {
  docker_image: "us-central1-docker.pkg.dev/client-library-releases/release-images-prod/python-multi@sha256:7cbcd29934e457c5f8b146b31026e786e6e3f9e182fcbb00ab52331202b9bb9a"
}