branchProtectionRules:
  - pattern: main
    isAdminEnforced: true
    requiredApprovingReviewCount: 1
    requiresCodeOwnerReviews: true
    requiresStrictStatusChecks: false
    requiredStatusCheckContexts:
      - "ci/kokoro: Samples test"
      - "ci/kokoro: System test"
      - docs
      - lint
      - test ({{metadata['engine'] | int}})
      - test ({{metadata['engine'] | int+2}})
      - test ({{metadata['engine'] | int+4}})
      - cla/google
      - windows
      - OwlBot Post Processor